:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  --at-apply: bg-background-50 text-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.logo {
  --at-apply: i-octicon-lock-16 text-primary
}

button {
  border: 0 solid transparent;
  --at-apply: rounded-1;
}

input {
  --at-apply: rounded-2;
}


.viewport-content {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

